@import url('https://fonts.googleapis.com/css?family=Song Myung');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Song Myung;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 550px;
    background: rgb(7, 197, 197);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .panel{
    width: 70%;
    height: 350px;
    text-align: center;
    padding: 20px;
}
.container .panel img{
    width: 150px;
    height: 150px;
    padding: 20px;
    object-fit: contain;
    border-radius: 20%;
}